.reviewModalWrap
  display: flex
  justify-content: center
  & > div
    padding: 20px

.reviewModalMessage
  & > div
    padding: 80px

.reviewModalTitle
  font-size: 25px
  font-weight: 400

.reviewBtnWrap
  display: flex
  justify-content: center

.reviewModalItem
  margin-bottom: 20px