.navbar
  padding: 15px 0
  background: #f1f1f1

.navAuthWrap
  display: flex
  flex-direction: row

.navBtn
  margin-right: 30px

  &:last-child
    margin-right: 0

.navLoginBtn
  font-weight: bold
  padding: 8px 20px !important

.navRegisterBtn
  font-weight: bold
  padding: 8px 20px !important

.navLinkHome
  padding: 8px 20px

.navList
  align-items: center

.navUserBlock
  display: flex
  align-items: center

.navLogOut
  margin-left: 20px